<html>
	<head>
		<title>Creator</title>
		<meta charset="utf-8">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery-1.8.0.min.js"> </script>
		<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
		<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
		<script src="{{ url_for('static', filename='js/objects.js') }}"></script>
		<script>
		$(function() {
			editor.initDraggable();
		});
		</script>
	</head>
	
	<body>
		<div id="page">
		<div id="left">
			<p>Widgets</p>
			<p><small>Layouts</small></p>
			<div id="layouts_table" id="table">
				<table border="0" style="width:100%;">
					<tr>
					<td style="text-align:center;">
					<div class="object" id="LinearLayout">
					<img src="{{ url_for('static', filename='images/layout.png') }}"><p style="margin-top:0px;line-height:0px;font-size:12px;">LinearLayout</p>
					</div></td>
					<td style="text-align:center;">
					<div class="object">
					<img src="{{ url_for('static', filename='images/layout.png') }}"><p style="margin-top:0px;line-height:0px;font-size:12px;">RelativeLayout</p>
					</div>
					</td>
					<td style="text-align:center;"><img src="{{ url_for('static', filename='images/layout.png') }}"><p style="margin-top:0px;line-height:0px;font-size:12px;">AbsoluteLayout</p></td>
					</tr>
					</table>
			</div>
			<p><small>Buttons</small></p>
			<div id="layouts_table" id="table">
				<table border="0" style="width:100%;">
					<tr>
						<td style="text-align:left;">
						<div class="object" id="Button">
						<img src="{{ url_for('static', filename='images/button.png') }}"><p style="margin-top:0px;line-height:0px;font-size:12px;">Button</p></div></td>
					</tr>
				</table>
			</div>
			<div>Console:
				<p id="console"></p>
			</div>
		</div>
		<div id="right" style="height:100%;width:100%;background-color:#FDEEE9;padding-top:10px;">
			<div id="screen" style="width:350px;height:500px;background-color:#BABABA;margin-left:50px;float:left;">
				<div id="status_bar" style="width:100%;height:25px;background-color:#000000"><
					<div id="status_bar_icons" style="color:white;float:right;padding-top:5px;padding-right:5px;"><img src="{{ url_for('static', filename='images/battery.png') }}"> 14:25</div>
				</div>
				<div id="elements" style="height:100%;width:100%;">
				</div>
			</div>
			<div id="options" style="width:300px;height:400px;background-color:#FDADB6;margin-left:800px;">
				<p>Options</p>
			</div>
		</div>
		</div>
	</body>
</html>